<!DOCTYPE html>
<html>
<head>
   <link rel=stylesheet type="text/css" href="css/Applicantresume.css">
</head>
<body>
<div class="form-style-5">
    <div class="formsaurav">
<form action="#" method="post">
<fieldset>
<legend><span class="number">1</span><b>Personal Details</b></legend>
First Name
<p id="#"></p>
Middle Name
<p id="#"></p>
Last Name
<p id="#"></p>
Date of Birth
<p id="#"></p>
Age
<p id="#"></p>
Adhar Number
<p id="#"></p>
Gender
<p id="#"></p>
Mobile Number
<p id="#"></p>
Email id
<p id="#"></p>
Native Language
<p id="#"></p>
<legend><span class="number">2</span><b>Address</b></legend><br>
Address
<p id="#"></p>
City
<p id="#"></p>
State
<p id="#"></p>
<legend><span class="number">3</span><b>Profile</b></legend><br>
Networks
<p id="#"></p>
Usernames
<p id="#"></p>
URLS
<p id="#"></p>
<legend><span class="number">4</span><b>Education</b></legend><br>
Degree
<p id="#"></p>
CGPA
<p id="#"></p>
Year of Graduation
<p id="#"></p>
<legend><span class="number">5</span><b>Skills</b></legend><br>
Name
<p id="#"></p>
Level
<p id="#"></p>
Keywords <p id="#"></p>
Achievement <p id="#"></p>
<legend><span class="number">6</span><b>Interests</b></legend><br>
Name <p id="#"></p>
Keywords <p id="#"></p>
<br>
<legend><span class="number">7</span><b>Work Experience</b></legend><br>
Company <p id="#"></p>
Position <p id="#"></p>
Website <p id="#"></p>
<h2>References</h2>
Name <p id="#"></p>
Reference <p id="#"></p>
     
</fieldset>
<input type="submit" value="Save" />
</form>
</div>
</div>
</body>
</html>