<!DOCTYPE html>
<html>
<head>
<title>Home Page</title>

	<LINK rel=stylesheet type="text/css" href="css/page1.css"></LINK>
	
</head>
<body>
	<div id="wrap">
		
<h1 style="color: #660000;">Welcome to Job Hunt!</h1>
<br>
<h3>If you're an applicant, we're here to help you reach as many people as you can.</h3>
<h3>If you're a company, we're here to help you find the next member to join your force.</h3>
<br>
<h2> Who Are You Here As?</h2>
<br>

<button><a href="/page2"><b>Applicant</a> </button>
<button><a href="/admin1">Company</b></a></button>
<script>
	console.log("Hello");	
</script>
</div>
</body>
</html>
